
#div_btns{
	display: block;
}


.one_btn_v{
	background-size: 100% 40vh;
    background-repeat: no-repeat;
	margin-top: 30vh;
	margin-left: 20%;
	width: 60%;
	height: 40vh;
	display: none;
}

.one_btn_h{
	background-size: 100% 65vh;
    background-repeat: no-repeat;
	margin-top: 15vh;
	margin-left: 26%;
	width: 40%;
	height: 65vh;
	display: none;
}

.two_btn_v{
	margin-top: 5vh;
	margin-left: 15%;
	width: 65%;
	height: 40vh;
	display: none;
}

.three_btn_v{
	background-size: 100% 27vh;
    background-repeat: no-repeat;
	margin-top: 10%;
	margin-left: 10%;
	width: 75%;
	height: 27vh;
	display: none;
}

.three_btn_h{
	background-size: 100% 70vh;
    background-repeat: no-repeat;
	margin-top: 10%;
	margin-left: 5%;
	width: 27%;
	height: 70vh;
	display: none;
	float: left;
}

#btn_play{
	background-image: url(play.png);
}
#btn_shoot{
	background-image: url(shoot.png);
}
#btn_left{
	background-image: url(left.png);
}
#btn_right{
	background-image: url(right.png);
}
