
#miEnlace {
	color: blue;
}

.QR_class{
	float: right;
	width: 150px;
	height: 150px;
}

#QR {
	margin-right: 100px;
}

.img_menu{
	width: 150px;
	height: 150px;
}

#inicio{
	display: none;
}

#menu{
	display: none;
}

#descriptionImage{
	display: none;
}

#buttonPlayGame{
	display: none;
}

.myHeader{
	border: solid 1px;
}

.description{
	height: 40vh;
	border: solid 1px;
}

#descriptionParagraph{
	margin: 30px;
}
